/*Reset*/

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

/*Common*/

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #686868;
}

h2 {
    margin: 20px 0;
}

h4 {
    margin-top: 10px;
}

.overflow-y {
    overflow-y: auto;
}


section p {
    margin-top: 5px;
    color: #686868;
    font-size: 10px;
    font-weight: bold;
}


/*Header*/

header {
    position: fixed;
    width: 100%;
    top:0;
    
}

.head-cont {
    height: 70px;
    text-align: right;
    line-height: 70px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.3);
}

.head-btn {
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 9px;
    padding:10px 25px;
    border-color: white;
    border-radius: 20px;
}

/*Main*/

main {
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: auto;
}
.main-cont {
    display: flex;
}

/*Sidebar*/

.sidebar-cont {
    width: 250px;
    background-color: black;
    margin: 0;
    padding: 10px;
    position: relative;
    min-height: calc(100vh - 80px);
}

/*First Nav*/

.logo {
    height: 50px;
}

.logo img{
    height: 40px;
}

.nav-cont li {
    margin-top: 10px;
}

nav .home-cont {
    border-left: 2px solid #adff2f;
}

.img-nav {
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

#icon-home {
    color: white;
}
 
/*Second Nav*/

.nav-cont p {
    margin-top: 20px;
}

.fa-plus-square {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

/*Foot-Sidebar*/

.foot-sidebar {
    position: absolute;
    bottom: 5px;
}

.download-icon, .profile-icon {
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.profile-icon {
    background-color: #808080;
    border-radius: 50%;
    height: 20px;
}

.profile-cont a {
    color: white;
    font-weight: bold;
}


.foot-sidebar hr {
    border-color: #686868;
    width: 220px;
    margin: 8px 0;
 }


/*Sections*/

.sections {
    margin: 80px 0 40px 0;
    width:calc(100% - 250px);
    padding: 0 20px;
}

/*Main Nav*/

.main-nav {
    text-align: center;
    margin-bottom: 40px;
}
.sections li {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

/*Section Top*/

.section-cont {
    display: flex;
    flex-wrap: wrap;
}

.card-cont {
    width:calc((100% / 6) - 10px); 
    text-align: center;
    margin: 25px 10px 20px 0;
}

.card-cont img{
    width: 100%;    
}

/*Section Center*/


/*Footer*/

footer {
    height: 80px;
    background-color: #282828;
}